/* Revealing 3D Menu CSS */
body
{
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #;
	background-color: #;
}

/* main page */
article
{
	position: fixed;
	width: 70%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 30px 15%;
	background-color: #eee;
	overflow: auto;
	z-index: 0;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}


article:after
{
	position: absolute;
	/*background-color: rgba(51,204,102,0.2);*/
	content: '';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, rgba(51,204,102,0.3) 0%, transparent 100%);
	background-image: -moz-linear-gradient(right, rgba(51,51,51,0.3) 0%, transparent 100%);
	background-image: -ms-linear-gradient(right, rgba(51,51,51,0.3) 0%, transparent 100%);
	background-image: -o-linear-gradient(right, rgba(51,51,51,0.3) 0%, transparent 100%);
	background-image: linear-gradient(right, rgba(51,51,51,0.3) 0%, transparent 100%);
	pointer-events: none;
}

/* navigation */
nav
{
	position: fixed;
	left: -16em;
	top: 0px;
	bottom: 0;
	background-color: #33CC66;
	border-right: 35px inset rgb(51,204,102);
	box-shadow: 10px 10px 10px rgba(51,51,51,0.5);
	z-index: 1;
	cursor: pointer;
}

nav:after
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	right: -60px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #333;
}

nav ul
{
	width: 14em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: block;
	width: 100%;
	font-weight: bold;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #333;
	border-radius: 4px;
	outline: 0 none;
}

nav a:hover, nav a:focus
{
	color: #fff;
	background-color: #333;
	text-shadow: 0 0 0px #eee;
	text-color: #333;
	
}

/* hovering */
article, article:after, nav, nav *
{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

nav:hover
{
	left: 0;
}

nav:hover ~ article
{
	-webkit-transform: translateX(16em) perspective(600px); /*rotateY(10deg);*/
	-moz-transform: translateX(16em) perspective(600px); /*rotateY(10deg);*/
	-ms-transform: translateX(16em) perspective(600px); /*rotateY(10deg);*/
	-o-transform: translateX(16em) perspective(600px); /*rotateY(10deg);*/
	transform: translateX(16em) perspective(600px); /*rotateY(10deg);*/
}

nav:hover ~ article:after
{
	left: 60%;
}

/* typography */
footer
{
	margin-top: 2em;
	border-top: 1px dotted #999;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0.2em 0;
	border-bottom: 1px solid #555;
}

p
{
	line-height: 1.3em;
	margin: 0 0 1.5m 0;
}